body{
    background-color: rgb(235, 232, 232);
}
.test{
    color: blue;
}

.demo{
    background-color: green;
    color: white;
}
.calcContents{
    margin: auto;
    width: 60%;
    padding: 20px;
    background-color: rgb(131, 162, 163);

}
.calcContents h1{
    text-align: center;
}
.inputStyle{
    background-color: rgb(243, 225, 243);
    padding: 10px;
    margin: 10px;
    width: 10em;
}
.calcbtn{
    background-color:rgb(90, 63, 90);
    padding: 10px;
    color: bisque;

}
#resultDiv{
    padding: 10px;
}
.calcContents table{
    margin: auto;
    max-width: 100%;
}
.calcContents button{
    padding: 10px;
    margin: 5px 10px;
    width: 8em;
    background-color: darkseagreen;
}
.calcContents input{
    padding: 10px;
    margin: 10px 5px;
    background-color: gainsboro;

}

.calcContents button:hover{
    background-color:darksalmon;
    cursor:pointer;
}
.calcContents input:hover, .calcContents input:focus{
    background-color: honeydew;
}

/* User detail form styles*/

.form_contents{
    background-color: rgb(209, 191, 224);
    color: midnightblue;
    margin: auto;
    width: 70%;
}

.form_contents h1{ text-transform: uppercase;}

.form_contents form{
    text-align: center;
    justify-content: center;
    display: flex;

}

.form_contents input, textarea{
    background-color: rgb(216, 214, 218);
    width: 20em;
    padding: 10px;
    margin: 10px;
}
.form_contents select{
    width: 20em;
    text-align: center;
    color:darkblue;
 
}
.form_contents input:hover, textarea:hover, select:hover{
    background-color: rgb(247, 233, 244);

}

.form_contents input:focus, textarea:focus{
    background-color:rgb(245, 250, 249);
}
.form_contents input[type=button]{
    background-color: rgb(121, 75, 116);
    width: 10em;
    color: rgb(233, 175, 211);
    text-transform: uppercase;
    margin: 20px;
    border-radius: 10px;
}
input[type=button]:hover{
    background-color: rgb(101, 117, 117);
    cursor: pointer;
    color: beige;
    box-shadow: 2px 1px 3px;
}

#userdetailsrenderDiv{
    background-color: none;
    text-transform: capitalize;
    font-size: 15px;
    text-align: left;
    width: 25%;
    margin: auto;
    padding: 20px;
    color:rgb(63, 33, 71);
}

.formresult{
    font-size: small;
}
.formresult h1{text-align: center;
color: brown;
text-transform: uppercase;}

/* Login Form Styles */

.loginform form {
    display: grid;
    justify-content: center;
    align-items: center;
    color: brown;
    width: 70%;
    margin: auto;
}
.loginform h1{ 
    color: darkmagenta;
    text-transform: uppercase;
}
.loginform input, .loginform label, .loginform button {
    padding: 10px; 
    border-radius: 5px;
    display: inline-flex;
}
.loginform input{
    max-width: 100%;
    
}

.loginform button {
    background-color:indigo;
    border-radius: 15px;
    margin: 50px 0px;
    padding: 15px 30px;
    color: whitesmoke;
}

.loginform button a{    
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

input:hover{
    background-color: rgb(233, 237, 241);
}
button:hover{
    background-color:darkslateblue;
    cursor: pointer;
}

.loginsucess h1{ text-transform: capitalize;}
